@font-face {
    font-family: "DIN";
    src: url("../fonts/FF_DIN_Black.otf");
}

@font-face {
    font-family: "DIN Condensed";
    src: url("../fonts/FF_DIN_Condensed_Black.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DIN', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DIN", sans-serif;
}

.landing-page {
    background-image: url("../assets/landing-page/landing_page_white.png");
}