@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@font-face {
    font-family: "DIN";
    src: url("../user_fonts/FF_DIN_Black.otf");
}

@font-face {
    font-family: "DIN Condensed";
    src: url("../user_fonts/FF_DIN_Condensed_Black.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DIN', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DIN", sans-serif;
}

.landing-page {
    background-image: url("../../images/pic01.jpg");
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.landing-page-img {
    background-image: url("../../images/landing-page/background2.png");
    background-size: cover;
    /* color: #c8ece9; */
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    background-attachment: fixed;
}

.landing-text {
    font-size: 10px;
    color: white;
}

.logo-img {
    padding: 5%;
}

.logo-img img {
    height: auto;
    width: 20%;
}

.blob-img {
    position: relative;
    z-index: 5;
    bottom: 100px;
}

.blob-img:hover {
    opacity: 0;
    transition: all ease 0.8s;
}

.blob-img img {
    width: 20%;
    left: 10%;
    top: 50%;
}

.landing-text {
    position: relative;
    left: 30px;
}

@media only screen and (max-width: 479px) {
    #banner2 {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
}

#banner2 {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 1;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "DIN", sans-serif;
}

#banner2 p {
    color: white;
    font-size: 1.7vw;
    line-height: 90%;
}

#banner2 h1 {
    color: white;
    font-size: 5vw;
    line-height: 90%;
}

.landing-img {
    height: 70px;
    width: 200px;
}