@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@font-face {
    font-family: "DIN";
    src: url("../user_fonts/FF_DIN_Black.otf");
}

@font-face {
    font-family: "DIN Condensed";
    src: url("../user_fonts/FF_DIN_Condensed_Black.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DIN', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DIN", sans-serif;
}

.landing-page {
    background-image: url("../../images/pic01.jpg");
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.landing-page-img {
    background-image: url("../../images/landing-page/smaller-landing-page.png");
    background-size: cover;
    /* color: #c8ece9; */
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.landing-text {
    font-size: 10px;
    color: white;
}

.logo-img {
    padding: 50px;
}

.logo-img img {
    height: auto;
    width: 20%;
}

.landing-text {
    position: relative;
    left: 30px;
}

#banner2 {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    /* height: 100vh; */
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "DIN", sans-serif;
}

#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "DIN", sans-serif;
    line-height: 1;
}

#banner2 p {
    color: white;
    font-size: 2.8vw;
    line-height: 90%;
}

.landing-img {
    height: 70px;
    width: 200px;
}